@using MehrStore
@using MehrStore.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<Category>

<div class="row pt-4 pb-3">
    <div class="col-6">
        <h1>List of Categories:</h1>
    </div>
    <div class="col-6">
        <a class="button button-primary" asp-controller="Category" asp-action="Create">New Category</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DisplayOrder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <div class="w-75 btn-group">
                        <a asp-controller="Category" asp-action="Edit" class="btn btn-primary mx-2" asp-route-Id="@obj.Id">
                            <i class="bg-info bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" class="btn btn-danger mx-2" asp-route-Id="@obj.Id">
                            <i class="bg-info bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
